#banner {
    background-image: linear-gradient(to bottom right, blue, purple);
    color: white;
    padding: 10px 10px;
    width: 100%;
}



#banner h1 {
    text-align: center;
}

#search {
    margin-left: 15px;
}